@import './base.css';

#app {
  max-width: 1280px;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

body {
  display: grid;
  grid-template-columns:
    1fr
    min(130ch, 100%)
    1fr;
}

body > * {
  grid-column: 2;
}

.middle-col {
  display: grid;
  grid-template-columns:
    min(40ch, 100%)
    1fr;
}

.score-board {
  font-weight: normal;
  padding-left: 2rem;
  padding-top: 2rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr; /* Switch to a single column layout */
  }
  body > * {
    grid-column: 1;
  }

  .middle-col {
    grid-template-columns: 1fr; /* Full width for middle column on smaller screens */
    grid-template-rows: 1fr 2fr;
  }
}
